.Rproj.user
.Rhistory
.RData
.Ruserdata
07 microsimulation rsocsim/**
*USAfert*
*.opop
*.omar
*.pyr
03 accessing APIs/openai-key.txt
04 facebook data/facebok_token.txt
05 datasets datadumps and helpful data/04_02-useful-datasets.tex
05 datasets datadumps and helpful data/04_02-useful-datasets.log
